body{
  margin: 0px;
  padding: 0px;
  height: 100vw;
  background-image: url("Images/initial_page_images/initial_background.jpg");
 
  
}

header{
  background-color: White;
  margin: 0px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  color: White;
  background-color: #3F1A1A;
}

header #UserPhoto{
  margin: 5%;
}

header #UserData{
  display: flex;
  flex-direction: column;
}

footer{
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  
  
}

footer button{
  display: flex;
  width: 100%;
  padding-top: 50px;
}

